<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Shroomcraft</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{!-- <meta http-equiv="Content-Security-Policy"
      content="default-src 'self'; img-src https://*; child-src 'none'; frame-src youtube.com https://www.youtube.com;"> --}}
</head>

<body>
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1>Shroomcraft</h1>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/map">
          <h2>Map</h2>
        </a>

        <a class="navbar-item" href="/players">
          <h2>Players</h2>
        </a>

        <a class="navbar-item" href="/modpack">
          <h2>Mod Pack</h2>
        </a>
      </div>
    </div>
  </nav>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/m3ouS-DAypU?si=QwNLRGd76Zj92u4q" title="YouTube video player"></iframe>
  <iframe src="http://78.108.218.59:25787/" frameborder="1"></iframe>

  {{!-- <script src="/assets/appBundle.js"></script> --}}
</body>

</html>